* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding: 0px;
}


.main-heading {
    max-width: 800px;
    text-align: center;
    margin: auto;
}


.main-heading h1 {
    font-size: 50px;
}


.main-heading p {
    font-size: 18px;
    line-height: 26px;
}


.header {
    overflow: hidden;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    padding: 10px 20px;
}


.header img {
    width: 50px;
}


.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}




input[type=”text” i] {
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #123;
    border-color: white;
    margin-right: 30px;
    border: 0;
}


.book-button {
    padding: 10px 30px;
    border-radius: 50px;
    margin: 0 5px;
}




.header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 !important;
}




.header-right {
    float: right;
    display: flex;
    align-items: center;
}

.res-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }


    .header-right {
        float: none;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 300px;
    margin: auto;
    text-align: left;
    font-family: arial;
    float: left;
    height: 350px;
    margin: 10px;
}

.title,
.location {
    color: grey;
    font-size: 12px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.img-card {
    width: 100%;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: 0 10px
}

.content h5 {
    margin: 8px 3px 5px 3px;
}

.content p {
    margin: 3px;
    font-size: 0.8rem;
    font-weight: 600;
}

.header-title {
    margin-left: 10px
}

.hover-item {
    transition: 0.3s;
}

.hover-item:hover {
    transform: translate(0, -10px);
}

/** shimmer UI **/

body {
    background: #f5f5f5;
}

.shimmer-card {
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 300px;
    margin: auto;
    text-align: left;
    font-family: arial;
    float: left;
    height: 350px;
    margin: 10px;
}

.shimmer-card .shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }

    100% {
        background-position: 1200px 0;
    }
}

.shimmer-card .media {
    height: 200px;
}

.shimmer-card .p-32 {
    padding: 32px;
}

.shimmer-card .content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}

.shimmer-card .end {
    width: 40%;
}




.m-t-24 {
    margin-top: 24px;
}

/** search bar **/

.bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbar {
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    outline: none;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}

.search-container input[type=text] {
    padding-inline-start: 20px;
}

.voice {
    height: 20px;
    position: relative;
    top: 5px;
    left: 28px;
}

::placeholder {
    font-size: 12px;
}